.web__svg {
    width: 38%;
    margin: auto;
  }
  
  .rectangulo-celeste {
    position: relative;
    animation-name: rectangulo;
    animation-duration: 4s;
    animation-delay: 2g;
    animation-iteration-count: infinite;
  }
  
  @keyframes rectangulo {
    0% {
      transform: translate(0%, 0%);
    }
    50% {
      transform: translate(20%, 0%);
    }
    100% {
      transform: translate(0%, 0%);
    }
  }
  
  .tuerca { 
    animation-name: roja;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transform-box: fill-box;
    transform-origin: center;
    animation-timing-function: linear;
  }
  
  @keyframes roja {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }