.main {
    display: inline-block;
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 40px;

  }
  .sectionHTML {
    border: 1px solid #000000;
    padding: 15px;
    margin: 3px;
  }
  .marco1 {
    border: 1px solid lightgray;
    padding: 10px;
    margin: 10px;
  }
  .sectionHTML div img {
    width: 100%;
  }
  .sectionHTML div h5 {
    padding: 10px 0px 10px 0px;
    font-size: 20px;
  }
  .sectionHTML div p {
    padding: 10px 0px 10px 0px;
  }
  .sectionHTML div h6 {
    padding: 10px 0px 10px 0px;
    font-size: 20px;
  }
  
  .Cursos {
    border: 1px solid #000000;
    padding: 15px;
    margin: 3px;
  }
  .Cursos div div img {
    width: 30%;
    border-radius: 150px;
    border: 1px solid #000000;
  }

  @media (min-width: 150px) and (max-width: 767.98px) {
    .main {
      grid-template-columns: auto;
    }
  }

  .Cursos div div {
    text-align: center;
  }

  .Cursos div div h5 {
    padding: 10px;
    font-size: 20px;
  }

  .Cursos div div ul li {
    display: inline-block;
    padding: 3px;
    font-size: 22px;
  }

  .Cursos div button {
    width: 100%;
    background-color: rgb(73, 73, 73);
    color: #FFFFFF;
    font-size: 20px;
  }

  .Cursos div p {
    padding: 10px;
  }

  .Cursos div ul {
    padding: 20px 30px 30px 30px;
  }

  .sectionHTML div ul li {
    display: inline-block;
  
  }